Repository fluffypony/mcp-code-indexer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file
  - pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  pass_filenames: false
  args:
  - src
  - tests
  - .vulture_whitelist.py

Modify VectorDaemon to use true batch processing flow
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Add IndexMeta CRUD operations to DatabaseManager with comprehensive unit tests
  src/mcp_code_indexer/database/database.py
  tests/unit/database/test_index_meta.py
Due: mypy, vulture

Add IndexMeta-based initial vector embedding control
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/types.py
Due: mypy, vulture

Fix Voyage API token limit exceeded error with automatic token-based batch splitting
  src/mcp_code_indexer/vector_mode/config.py
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
  src/mcp_code_indexer/vector_mode/services/embedding_service.py
  tests/unit/vector_mode/test_embedding_service.py
  tests/unit/vector_mode/test_voyage_client_token_batching.py
Due: mypy, vulture

Implement file-level token-aware batching with dual limit checks
  src/mcp_code_indexer/vector_mode/config.py
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
  src/mcp_code_indexer/vector_mode/services/embedding_service.py
  src/mcp_code_indexer/vector_mode/services/vector_storage_service.py
  tests/unit/vector_mode/test_embedding_service.py
  tests/unit/vector_mode/test_voyage_client_token_batching.py
Due: mypy, vulture

Remove all _write_debug_log occurrences and fix related tests
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
  src/mcp_code_indexer/vector_mode/monitoring/utils.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
  src/mcp_code_indexer/vector_mode/services/embedding_service.py
  src/mcp_code_indexer/vector_mode/services/vector_storage_service.py
  tests/unit/vector_mode/test_vector_storage_service.py
Due: mypy, vulture

Fix event loop blocking and database lock contention causing timeouts
  pyproject.toml
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/file_scanner.py
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/monitoring/utils.py
  src/mcp_code_indexer/vector_mode/services/vector_mode_tools_service.py
  src/mcp_code_indexer/vector_mode/services/vector_storage_service.py
Due: mypy, vulture

Fix RetryExecutor exception handling and lazy API validation in VectorStorageService
  poetry.lock
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/vector_mode/services/vector_storage_service.py
Due: mypy, vulture

Bump version to 4.2.16
  README.md
  pyproject.toml
Due: none

Add proper retry logic to write ops, throttle access updates, fix configurable timeout
  main.py
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Fix timestamp parsing in get_all_projects and update default timeouts to 30s
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/database_factory.py
Due: mypy, vulture

Fix retry logic: re-raise original errors for tenacity to retry locked/busy cases
  src/mcp_code_indexer/database/database.py
Due: mypy, vulture

Fix tests in tests/unit/database/test_database.py and test_index_meta.py
  src/mcp_code_indexer/database/database.py
Due: mypy, vulture

Fix tests in tests/test_file_scanner.py
  tests/test_file_scanner.py
Due: vulture

Fix tests in tests/test_error_handling.py
  tests/test_error_handling.py
Due: vulture

Fix tests in tests/unit/vector_mode/test_vector_storage_service.py
  tests/unit/vector_mode/test_vector_storage_service.py
Due: vulture

Fix tests in tests/test_database_errors.py and tests/test_connection_recovery.py
  src/mcp_code_indexer/database/exceptions.py
Due: mypy, vulture

Fix tests in tests/integration/test_mcp_tools.py
  tests/integration/test_mcp_tools.py
Due: vulture

Fix tests in tests/test_retry_executor.py and tests/test_database_locking.py
  tests/test_database_locking.py
  tests/test_retry_executor.py
Due: vulture

Fix test_database_corruption_handling: remove WAL/SHM files when corrupting DB
  tests/test_connection_recovery.py
Due: vulture

Bump version to 4.2.17
  README.md
  pyproject.toml
Due: none

Add comprehensive debug logging for database transactions and fix log level config
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/logging_config.py
Due: mypy, vulture

Bump version to 4.2.18
  README.md
  pyproject.toml
Due: none

Use configured db-timeout as default for transaction methods
  src/mcp_code_indexer/database/database.py
Due: mypy, vulture

Use async methods and run_in_executor for blocking I/O and CPU-bound operations
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Add is_valid_project_directory_async and offload count_tokens to executor
  src/mcp_code_indexer/file_scanner.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Bump version to 4.2.19
  README.md
  pyproject.toml
Due: none

Fix MCP server timeout issues: reduce stderr logging, improve transaction rollback, add retry patterns
  src/mcp_code_indexer/cleanup_manager.py
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/exceptions.py
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/logging_config.py
Due: mypy, vulture

Downgrade chatty per-request INFO logs to DEBUG in mcp_server.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Set root logger to DEBUG so file handler captures all logs
  src/mcp_code_indexer/logging_config.py
Due: mypy, vulture

Bump version to 4.2.20
  README.md
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|src/network/messages\.py$))
  vulture: any of: \.py$
