Repository fluffypony/mcp-code-indexer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --config-file
  - pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  pass_filenames: false
  args:
  - src
  - tests
  - .vulture_whitelist.py

Simplify signal handling to let KeyboardInterrupt propagate naturally
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.10
  README.md
  pyproject.toml
Due: none

Add cleanup of remaining asyncio tasks to prevent vector mode hanging
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.11
  README.md
  pyproject.toml
Due: none

Fix recursive task cancellation causing RecursionError in vector mode
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.12
  README.md
  pyproject.toml
Due: none

Fix vector daemon processing all projects instead of only vector_mode enabled ones
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/models.py
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Bump version to 4.2.13
  README.md
  pyproject.toml
Due: none

Add comprehensive cleanup to fix vector mode hanging on exit
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.14
  README.md
  pyproject.toml
Due: none

Add signal handling specifically for vector mode to fix single Ctrl+C not working
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.15
  README.md
  pyproject.toml
Due: none

Add enabled_vector_mode tool with database and MCP handler support
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/main.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Add comprehensive tests for enabled_vector_mode tool functionality
  tests/__pycache__/__init__.cpython-312.pyc
  tests/test_enabled_vector_mode.py
Due: vulture

Update API documentation for enabled_vector_mode tool
  docs/api-reference.md
Due: none

Update README to reflect new tool count
  README.md
Due: none

Consolidate test fixtures and fix enabled_vector_mode tests
  tests/conftest.py
  tests/test_enabled_vector_mode.py
Due: vulture

Remove duplicate mcp_server fixtures from integration tests
  tests/integration/test_mcp_tools.py
Due: vulture

Add tests/__pycache__ to .gitignore
  .gitignore
Due: none

Remove tests/__pycache__ directory
  tests/__pycache__/__init__.cpython-312.pyc
  tests/__pycache__/test_token_counter.cpython-312-pytest-8.4.0.pyc
Due: none

Fix VectorDaemon to remove projects from monitored_projects when vector_mode disabled
  src/mcp_code_indexer/vector_mode/daemon.py
  tests/test_enabled_vector_mode.py
Due: mypy, vulture

Reorganize vector mode tests into proper unit test structure with type hints
  tests/test_enabled_vector_mode.py
  tests/unit/database/__init__.py
  tests/unit/database/test_database.py
  tests/unit/server/__init__.py
  tests/unit/server/test_mcp_server.py
  tests/unit/vector_mode/__init__.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: vulture

Add GitHub workflow for running unit tests on push/PR to main/develop branches
  .github/workflows/unit-tests.yml
Due: none

Consolidate duplicate temp DB fixtures into single parameterized fixture with proper typing
  tests/conftest.py
  tests/test_connection_recovery.py
  tests/test_database_locking.py
  tests/test_retry_executor.py
Due: vulture

Replace remaining 3 tempfile patterns with temp_db_manager_pool fixture
  tests/test_connection_recovery.py
Due: vulture

Fix ConnectionHealthMonitor tests: isolate hanging issues, fix consecutive_failures paths, remove redundant tests
  tests/test_connection_recovery.py
  tests/unit/database/test_connection_health_monitor.py
Due: vulture

Add file watcher integration to VectorDaemon with real-time change monitoring
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Refactor FileWatcher classes with BaseFileWatcher abstract base class
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
Due: mypy, vulture

Revert file_watcher.py to previous state + add temporary debug logs
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
Due: mypy, vulture

Add debug logging to daemon.py for FileWatcher calls
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Use config ignore_patterns and watch_debounce_ms in VectorDaemon
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
Due: mypy, vulture

Fix observer crashes by adding exception handling and using existing processing queue for file changes
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
Due: mypy, vulture

Add file chunking to VectorDaemon._process_file_change_task with comprehensive tests
  src/mcp_code_indexer/vector_mode/daemon.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Move _write_debug_log to monitoring/utils.py and fix infinite debounce in ChangeDetector
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/monitoring/change_detector.py
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
  src/mcp_code_indexer/vector_mode/monitoring/utils.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Fix OptimizedChunk losing redacted field and add ASTChunker unit tests
  src/mcp_code_indexer/vector_mode/chunking/ast_chunker.py
  src/mcp_code_indexer/vector_mode/chunking/chunk_optimizer.py
  tests/conftest.py
  tests/unit/vector_mode/security/__init__.py
  tests/unit/vector_mode/test_ast_chunker.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Add task types and improve daemon tests
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/types.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Move random, string, base64 imports to top of tests/conftest.py
  tests/conftest.py
Due: vulture

Implement VoyageClient embedding generation in VectorDaemon with comprehensive test coverage
  src/mcp_code_indexer/vector_mode/daemon.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Refactor embedding logic into dedicated EmbeddingService class with services/ module organization
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/services/__init__.py
  src/mcp_code_indexer/vector_mode/services/embedding_service.py
  tests/unit/vector_mode/test_embedding_service.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Integrate TurbopufferClient for vector storage with comprehensive tests
  src/mcp_code_indexer/vector_mode/daemon.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/services/turbopuffer_service.py
  tests/unit/vector_mode/test_turbopuffer_service.py
  tests/unit/vector_mode/test_vector_daemon.py
Due: mypy, vulture

Path conditions:
  mypy: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|src/network/messages\.py$))
  vulture: any of: \.py$
