Repository fluffypony/mcp-code-indexer: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture

.pre-commit-config.yaml:

repos:
  # ----- code style and linting -----
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format

  # ----- type checking -----
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        args: ["--config-file", "pyproject.toml"]
        files: ^src/.*\.py$
        exclude: ^(tests/|src/network/messages\.py$)

  # ----- security (excluding tests) -----
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
        args: ["--severity-level", "medium", "--skip", "B608"]
        files: ^src/.*\.py$

  # ----- dead code (including tests) -----
  - repo: local
    hooks:
      - id: vulture
        name: vulture
        entry: vulture
        language: system
        types: [python]
        pass_filenames: false
        args: ["src", "tests", ".vulture_whitelist.py"]

  # ----- misc hygiene -----
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-json
        exclude: ^models/
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=5000"]

default_language_version:
  python: python3.12

ci:
  autofix_commit_msg: |
    [pre-commit.ci] automated fixes
  autoupdate_schedule: weekly

Add vulture whitelist for legitimate unused code
  .vulture_whitelist.py
Due: vulture

Fix mypy type annotations in security, deepask, init, and database_factory
  src/mcp_code_indexer/__init__.py
  src/mcp_code_indexer/database/database_factory.py
  src/mcp_code_indexer/deepask_handler.py
  src/mcp_code_indexer/middleware/security.py
Due: mypy, vulture

Fix mypy type annotations in middleware auth and logging
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/middleware/auth.py
  src/mcp_code_indexer/middleware/logging.py
Due: mypy, vulture

Apply ruff code formatting to entire codebase
  src/mcp_code_indexer/cleanup_manager.py
  src/mcp_code_indexer/database/connection_health.py
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/exceptions.py
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/error_handler.py
  src/mcp_code_indexer/logging_config.py
  src/mcp_code_indexer/main.py
  src/mcp_code_indexer/middleware/auth.py
  src/mcp_code_indexer/middleware/error_middleware.py
  src/mcp_code_indexer/middleware/logging.py
  src/mcp_code_indexer/middleware/security.py
  src/mcp_code_indexer/server/mcp_server.py
  src/mcp_code_indexer/transport/http_transport.py
Due: mypy, vulture

Add types-aiofiles stub package
  src/mcp_code_indexer/claude_api_handler.py
  src/mcp_code_indexer/database/database.py
  src/mcp_code_indexer/database/retry_executor.py
  src/mcp_code_indexer/error_handler.py
  src/mcp_code_indexer/file_scanner.py
  src/mcp_code_indexer/git_hook_handler.py
  src/mcp_code_indexer/logging_config.py
Due: mypy, vulture

Revert mypy to strict mode configuration
  pyproject.toml
Due: none

Fix mypy type checking issues
  src/mcp_code_indexer/main.py
  src/mcp_code_indexer/middleware/error_middleware.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Fix mypy type annotations in database exceptions - add type annotations and explicit casts
  src/mcp_code_indexer/database/exceptions.py
Due: mypy, vulture

Fix mypy type annotations in cleanup_manager and connection_health
  mypy_errors.txt
  src/mcp_code_indexer/cleanup_manager.py
  src/mcp_code_indexer/database/connection_health.py
  src/mcp_code_indexer/query_preprocessor.py
Due: mypy, vulture

Fix mypy type annotations in http_transport - add return types and null checks
  src/mcp_code_indexer/transport/http_transport.py
Due: mypy, vulture

Add ruff configuration to exclude vulture whitelist
  pyproject.toml
Due: none

Fix bandit security issues - replace assert with proper error handling
  src/mcp_code_indexer/__init__.py
  src/mcp_code_indexer/git_hook_handler.py
  src/mcp_code_indexer/server/mcp_server.py
Due: mypy, vulture

Bump version to 4.0.2
  README.md
  pyproject.toml
Due: none

Clean up
  test_env/bin/Activate.ps1
  test_env/bin/activate
  test_env/bin/activate.csh
  test_env/bin/activate.fish
  test_env/bin/dotenv
  test_env/bin/fastapi
  test_env/bin/httpx
  test_env/bin/jsonschema
  test_env/bin/mcp
  test_env/bin/mcp-code-indexer
  test_env/bin/normalizer
  test_env/bin/pip
  test_env/bin/pip3
  test_env/bin/pip3.12
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/bin/uvicorn
  test_env/pyvenv.cfg
Due: none

Remove mypy errors leftovers
  mypy_errors.txt
Due: none

Add vector mode infrastructure with CLI flag and daemon foundation
  src/mcp_code_indexer/main.py
  src/mcp_code_indexer/server/mcp_server.py
  src/mcp_code_indexer/vector_mode/__init__.py
  src/mcp_code_indexer/vector_mode/config.py
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Add vector mode database schema with code chunks and Merkle tree
  src/mcp_code_indexer/database/models.py
  src/mcp_code_indexer/migrations/006_vector_mode.sql
Due: mypy, vulture

Add external service providers for Voyage AI and Turbopuffer
  src/mcp_code_indexer/vector_mode/providers/__init__.py
  src/mcp_code_indexer/vector_mode/providers/base_provider.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
Due: mypy, vulture

Add comprehensive secret redaction engine with pattern matching
  src/mcp_code_indexer/vector_mode/security/__init__.py
  src/mcp_code_indexer/vector_mode/security/patterns.py
  src/mcp_code_indexer/vector_mode/security/redactor.py
Due: mypy, vulture

Add file system monitoring with Merkle tree and real-time change detection
  src/mcp_code_indexer/vector_mode/monitoring/__init__.py
  src/mcp_code_indexer/vector_mode/monitoring/change_detector.py
  src/mcp_code_indexer/vector_mode/monitoring/file_watcher.py
  src/mcp_code_indexer/vector_mode/monitoring/merkle_tree.py
Due: mypy, vulture

Add AST-based code chunking with multi-language support and optimization
  src/mcp_code_indexer/vector_mode/chunking/__init__.py
  src/mcp_code_indexer/vector_mode/chunking/ast_chunker.py
  src/mcp_code_indexer/vector_mode/chunking/chunk_optimizer.py
  src/mcp_code_indexer/vector_mode/chunking/language_handlers.py
Due: mypy, vulture

Fix Voyage AI implementation and add comprehensive vector mode documentation
  README.md
  docs/cli-reference.md
  docs/vector-mode.md
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
Due: mypy, vulture

Bump version to 4.1.0
  README.md
  pyproject.toml
Due: none

Add configurable TurboPuffer region support with gcp-europe-west3 default
  README.md
  docs/vector-mode.md
  src/mcp_code_indexer/vector_mode/config.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
Due: mypy, vulture

Eliminate all legacy HTTP infrastructure and simplify to pure SDK usage
  src/mcp_code_indexer/vector_mode/providers/__init__.py
  src/mcp_code_indexer/vector_mode/providers/base_provider.py
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
Due: mypy, vulture

Replace custom HTTP clients with official SDKs for improved reliability
  poetry.lock
  pyproject.toml
  src/mcp_code_indexer/vector_mode/providers/turbopuffer_client.py
  src/mcp_code_indexer/vector_mode/providers/voyage_client.py
Due: mypy, vulture

Bump version to 4.2.0
  README.md
  pyproject.toml
Due: none

Remove vector extras and include all dependencies by default for better UX
  README.md
  docs/cli-reference.md
  docs/vector-mode.md
  poetry.lock
  pyproject.toml
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Fix Python version constraint to support Python 3.13+
  README.md
  poetry.lock
  pyproject.toml
Due: none

Fix vector mode dependency detection - voyageai not voyage
  README.md
  pyproject.toml
  src/mcp_code_indexer/vector_mode/__init__.py
Due: mypy, vulture

Fix vector daemon project monitoring - use project.aliases[0] for folder_path
  README.md
  pyproject.toml
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Fix vector daemon graceful shutdown - properly cancel and track all async tasks
  README.md
  pyproject.toml
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Fix vector daemon Ctrl+C hanging
  src/mcp_code_indexer/vector_mode/__init__.py
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Bump version to 4.2.6
  README.md
  pyproject.toml
Due: none

Fix vector daemon task cleanup preventing proper Ctrl+C exit
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.7
  README.md
  pyproject.toml
Due: none

Add main-level signal handling to prevent server hanging on Ctrl+C
  src/mcp_code_indexer/main.py
Due: mypy, vulture

Bump version to 4.2.8
  README.md
  pyproject.toml
Due: none

Fix vector daemon signal handler conflict causing Ctrl+C hang
  src/mcp_code_indexer/main.py
  src/mcp_code_indexer/vector_mode/daemon.py
Due: mypy, vulture

Bump version to 4.2.9
  README.md
  pyproject.toml
Due: none
